<header>
    <!-- Intro settings -->
    <style>
      /* Default height for small devices */
      #intro-example {
        height: 400px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
        }
      }
    </style>
  
        <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <!-- Container wrapper -->
        <div class="container" >
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="#">
            <img
            src="../../assets/Emblem_of_Sri_Lanka 1.png"
            height="36"
            alt=""
            loading="lazy"
            style="margin-top: -1px;"
            />
        </a>

        <a class="navbar-brand me-2" href="#">
            <img
            src="../../assets/logo.png"
            height="36"
            alt=""
            loading="lazy"
            style="margin-top: -1px;"
            />
        </a>

        <a class="navbar-brand me-2" href="#">
            <img
            src="../../assets/Mask group.png"
            height="36"
            alt=""
            loading="lazy"
            style="margin-top: -1px;"
            />
        </a>
    
        <!-- Toggle button -->
        <button
            class="navbar-toggler"
            type="button"
            (click)="buttonsNav.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <i class="fas fa-bars"></i>
        </button>
    
        <!-- Collapsible wrapper -->
        <div
            class="collapse navbar-collapse"
            id="navbarButtonsExample"
            mdbCollapse
            #buttonsNav="mdbCollapse"
        >
            <!-- Left links -->
            <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0 " >
            <li class="nav-item">
                <a class="nav-link " href="#" style="color: black; font-weight: 500;">English &nbsp;|</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; font-weight: 500;">සිංහල &nbsp;|</a>
            </li>
            
            <li class="nav-item">
                <a class="nav-link" href="#" style="color: black; font-weight: 500;">தமிழ்</a>
            </li>
            </ul>

            
            <!-- Left links -->
    
            <div class="d-flex align-items-center ">
            <button type="button" class="btn btn-outline-light px-5 me-2" style="color: #0242FE; border-radius: 10px; border-color: #0242FE; border-width: 2px; text-transform: none;">
                Login
            </button>
            <button type="button" class="btn btn-primary px-5 me-3" style="background-color: #0242FE; border-radius: 10px; text-transform: none;">
                Register
            </button>
            
            </div>
        </div>
        <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->
  
    <!-- Background image -->
    <div
      id="intro-example"
      class="p-5 text-center bg-image"
      style="background-image: url('../../assets/concept-environmental-pollution\ 1.png'); height: 100vh; background-size: cover; background-position: center; background-attachment: fixed;"
    >
      <div class="mask" style="background: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));">
        <div class="d-flex justify-content-end align-items-center h-100 px-5">
          <div class="text-white px-5 me-5 ">
            <h1 class="custom1-h1 mb-1 d-flex justify-content-end align-items-center">Join the Fight for </h1>
            <h1 class="custom1-h1 mb-3 d-flex justify-content-end align-items-center">
                <span class="typewriter-container"></span>
                &nbsp;Shores</h1>
            <h5 class="custom1-h5 d-flex justify-content-end align-items-center">Help Us Clean the Coast</h5>
            <div class="d-flex justify-content-end align-items-center mb-1">
            <a
              class="btn"
              href="https://youtu.be/Se7CAmNjh1I?si=dKb5Zkw7hdOZu8es"
              role="button"
              rel="nofollow"
              target="_blank"
              ><img class="btnimg" src="./../../assets/landing-btn/img1.png" height="160px" width="260px" alt=""></a
            >
            <a
              class="btn px-0"
              href="https://youtu.be/kiu7ZpuA1JQ?si=5TZ5RVsIM31rLSbI"
              target="_blank"
              role="button"
              ><img class="btnimg" src="./../../assets/landing-btn/img2.png" height="160px" width="260px" alt=""></a
            >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Background image -->
  </header>

  <!-- icon slider -->

  <section class="section-2" id="section-2">
    <div class="icon-slider">
        <div class="txt-sec">
            <div class="l-h1">Our <span style="color: #0242FE;">Valued</span> Partners</div>
            <div class="l-p">Collaborating for a Cleaner, Safer Coastline Sri Lanka</div>
        </div>
        
        <div class="logo-slider">
        <div class="logo-slide-track">
            <div class="slide">
                <a href="https://clean-ocean-force.org/">
                    <img class="ll" src="./../../assets/icons/L1.png" alt="Partner Logo 1" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.airforce.lk/">
                    <img class="ll" src="./../../assets/icons/L2.png" alt="Partner Logo 2" />
                </a>
                </div>
                <div class="slide">
                <a href="http://www.dgshipping.gov.lk/">
                    <img class="ll" src="./../../assets/icons/msp.png" alt="Partner Logo 3" />
                </a>
                </div>
                <div class="slide">
                <a href="http://www.nara.ac.lk/">
                    <img class="ll" src="./../../assets/icons/nara.png" alt="Partner Logo 4" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.fisheriesdept.gov.lk/">
                    <img class="ll" src="./../../assets/icons/df.png" alt="Partner Logo 5" />
                </a>
                </div>
                <div class="slide">
                <a href="https://coastguard.gov.lk/">
                    <img class="ll" src="./../../assets/icons/L6.png" alt="Partner Logo 6" />
                </a>
                </div>
                <div class="slide">
                <a href="https://cea.lk/web/">
                    <img class="ll" src="./../../assets/icons/L7.png" alt="Partner Logo 7" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.coastal.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/L8.png" alt="Partner Logo 8" />
                </a>
                </div>
                <div class="slide">
                <a href="https://ceypetco.gov.lk/">
                    <img class="ll" src="./../../assets/icons/Ceylon_Petroleum_Corporation_logo.png" alt="Partner Logo 9" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.meteo.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/met.png" alt="Partner Logo 10" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.dwc.gov.lk/">
                    <img class="ll" src="./../../assets/icons/wildlife.png" alt="Partner Logo 11" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.dmc.gov.lk/index.php?lang=e">   
                    <img class="ll" src="./../../assets/icons/dmc.png" alt="Partner Logo 12" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.aerc.gov.lk/">
                    <img class="ll" src="./../../assets/icons/slaerc.png" alt="Partner Logo 13" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.navy.lk/">
                    <img class="ll" src="./../../assets/icons/navy.png" alt="Partner Logo 14" />
                </a>    
                </div>
                <div class="slide">
                <a href="https://www.cpstl.lk/">
                    <img class="ll" src="./../../assets/icons/CPSTL.png" alt="Partner Logo 15" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.meteo.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/logo.png" alt="Partner Logo 16" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.police.lk/">
                    <img class="ll" src="./../../assets/icons/police.png" alt="Partner Logo 17" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.slpa.lk/">
                    <img class="ll" src="./../../assets/icons/SLPA.png" alt="Partner Logo 18" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.army.lk/">
                    <img class="ll" src="./../../assets/icons/army.png" alt="Partner Logo 19" />
                </a>
                </div>
                <a href="https://clean-ocean-force.org/">
                    <img class="ll" src="./../../assets/icons/L1.png" alt="Partner Logo 1" />
                </a>
                <div class="slide">
                <a href="https://www.airforce.lk/">
                    <img class="ll" src="./../../assets/icons/L2.png" alt="Partner Logo 2" />
                </a>
                </div>
                <div class="slide">
                <a href="http://www.dgshipping.gov.lk/">
                    <img class="ll" src="./../../assets/icons/msp.png" alt="Partner Logo 3" />
                </a>
                </div>
                <div class="slide">
                <a href="http://www.nara.ac.lk/">
                    <img class="ll" src="./../../assets/icons/nara.png" alt="Partner Logo 4" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.fisheriesdept.gov.lk/">
                    <img class="ll" src="./../../assets/icons/df.png" alt="Partner Logo 5" />
                </a>
                </div>
                <div class="slide">
                <a href="https://coastguard.gov.lk/">
                    <img class="ll" src="./../../assets/icons/L6.png" alt="Partner Logo 6" />
                </a>
                </div>
                <div class="slide">
                <a href="https://cea.lk/web/">
                    <img class="ll" src="./../../assets/icons/L7.png" alt="Partner Logo 7" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.coastal.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/L8.png" alt="Partner Logo 8" />
                </a>
                </div>
                <div class="slide">
                <a href="https://ceypetco.gov.lk/">
                    <img class="ll" src="./../../assets/icons/Ceylon_Petroleum_Corporation_logo.png" alt="Partner Logo 9" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.meteo.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/met.png" alt="Partner Logo 10" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.dwc.gov.lk/">
                    <img class="ll" src="./../../assets/icons/wildlife.png" alt="Partner Logo 11" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.dmc.gov.lk/index.php?lang=e">   
                    <img class="ll" src="./../../assets/icons/dmc.png" alt="Partner Logo 12" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.aerc.gov.lk/">
                    <img class="ll" src="./../../assets/icons/slaerc.png" alt="Partner Logo 13" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.navy.lk/">
                    <img class="ll" src="./../../assets/icons/navy.png" alt="Partner Logo 14" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.cpstl.lk/">
                    <img class="ll" src="./../../assets/icons/CPSTL.png" alt="Partner Logo 15" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.meteo.gov.lk/index.php?lang=en">
                    <img class="ll" src="./../../assets/icons/logo.png" alt="Partner Logo 16" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.police.lk/">
                    <img class="ll" src="./../../assets/icons/police.png" alt="Partner Logo 17" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.slpa.lk/">
                    <img class="ll" src="./../../assets/icons/SLPA.png" alt="Partner Logo 18" />
                </a>
                </div>
                <div class="slide">
                <a href="https://www.army.lk/">
                    <img class="ll" src="./../../assets/icons/army.png" alt="Partner Logo 19" />
                </a>
                </div>
    
        </div>
        </div>
    </div>
</section>

<!-- About section -->
<section class="about ">
    <div class="row me-2">
        <div class="col-1">
            <div class="lodo-about">
                <img src="./../../assets/icons/Department of fisheries.png" alt="Logo1" class="logo-img">
                <h2>Ministry of Urban <br>Development and Housing</h2>
            </div>
        </div>
        <div class="col-2" style="background-color: aliceblue;">

        </div>
    </div>

</section>